# https-proxy configuration file example

# Built-in HTTPS server configuration (used to serve data back to the client)
[server]
# TCP addres and port which will be used by the proxy to listen for incoming connections
# Not required by the application, if left untouched, the default value will be used.
# Default value: 127.0.0.1:443
#addr = "127.0.0.1:3000"
# Path to TLS certificate to use.
# Required, has to be in .pem format, multiple certificates are supported.
certs_location = "/path/to/certs.pem"
# Path to private RSA key that was used to sign the certificates provided in certs_location option.
# Required.
private_key_location = "/path/to/private_key.rsa"

# Built-in HTTPS client configuration (used to request data from original host)
[client]
# Path to TLS certificates which will be used to establish TLS connections by the client.
# An attempt will be made to determine this value automatically, uncomment this only if you know what you're doing.
#ca_location = "/etc/ssl/certs/ca-certificates.pem"

# Mirrors configuration
# Example below shows mirror with the name "gentoo" which proxies
# the website https://www.gentoo.org/ and saves everything that has .jpg extension to mirror/gentoo.org.

# Each entry is specified as [mirror.XYZ], XYZ being the unique mirror name.
[mirror.gentoo]
# URI of the proxied resource.
uri = "www.gentoo.org"
# File extensions to mirror, specified without the dot (.) symbol.
extensions = ["jpg", "png"]
# Path to directory where mirrored files will be saved.
# If specified directories do not exist, an attempt will be made to create them.
location = "mirror/gentoo.org"